<ul id="user-detail-1">
  <li>
    <%= f.check_box :run_errands %>
    <%= f.label :run_errands, "Errands" %>
  </li>

  <li>
    <%= f.check_box :get_groceries %>
    <%= f.label :get_groceries, "Grocery Shopping" %>
  </li>

  <li>
    <%= f.check_box :do_light_house_keeping %>
    <%= f.label :do_light_house_keeping, "Light housekeeping" %>
  </li>

  <li>
    <%= f.check_box :do_laundry %>
    <%= f.label :do_laundry, "Laundry" %>
  </li>
</ul>
