<div id="availibilty-selector">
  <%- worktimes = [[1, "6am - 10am"], [2, "10am - 2pm"], [3, "2pm - 6pm"], [4, "6pm - 10pm"], [5, "10pm - 2am"], [6, "Overnight"]] %>
  <%- days = [[1, "S"], [2, "M"], [3, "T"], [4, "W"], [5, "T"], [6, "F"],[7, "S"]]%>
  <table id="availibilty">
    <thead>
      <tr>
        <td></td>
        <%- days.each do |d| %>
          <td><%= d[1] %></td>
        <% end %>
      </tr>
    </thead>

    <tbody>
      
      <%- worktimes.each do |wt| %>
        <tr>
          <td class="label <%= wt[0]%>"><%= wt[1] %></td>
            <%- days.each do |d| %>
              <td class="<%= "worktimes_#{wt[0]} days_#{d[0]} #{selected_availibility_time(wt[1],d[0])}"%>"></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="hidden">
    <%= f.fields_for :availabilities do |f| %> 
      <%- class_name = "#{f.object.start_hour}#{f.object.end_hour}#{f.object.day_of_week}"%>
      <%= f.hidden_field :id, :class => class_name %>
      <%= f.hidden_field :start_hour, :class => class_name %>
      <%= f.hidden_field :end_hour, :class => class_name %>
      <%= f.hidden_field :day_of_week, :class => class_name %>  

    <% end %>
  </div>
</div>