<!DOCTYPE html>
<html>
<head>
  <title>Royalnannycare.com</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%- flash.each do |name, msg| %>
    <%= display_toast_message(msg, name) %>
  <% end %>
<div id="main_container">
	<%=link_to image_tag('logo.png',:id=>"header_logo"),root_url%>
	<%= link_to_if user_signed_in?, 'Upload Photo', '#', :id => 'photo_uploader_link' %>
	  	<%#link_to_if user_signed_in?, image_tag('login_icon.png'),destroy_user_session_path , :method => :delete %>    
  <div class="content">
    <%= yield %>
  </div>
  
</div>
<footer>
    Royal Nanny Care &copy; 2012 - Privacy Policy and Terms & Conditions 
    <%=link_to 'About Us',:home_about %> | <%=link_to 'Pre-Launch Info',:home_info %> | <%=link_to 'Contact Info',:home_contact%>
  </footer>

</body>
</html> 
